/* 个人中心 欢迎消息 */
.p_wel{
	width:830px;
	height:295px;
	border:1px solid #edcc89;
	margin-bottom:20px;
	float:right;
	background:#fffdee;
}

.p_wel .p_info{
	width:125px;
	height:275px;
	border-right:1px solid #eee;
	float:left;
	margin-top:10px;
}

.p_wel .p_info .head_img{
	width:66px;
	height:66px;
	/* border:1px solid #edcc89; */
	/*margin:0 30px 10px 10px; */
	padding-left:30px;
}

.p_wel .p_info input.mypic{
	width:62px;
	padding:0 5px;
}

.p_form{
	text-align:center;
	line-height:30px;
}

.p_wel .p_info input.mypic{
	display:none;
}

.p_wel .p_info input.subimg{
	width:72px;
	height:25px;
}

.p_wel table{
	float:right;
	width:690px;
	padding-top:10px;
}