/* 个人中心 账户安全 */
.p_wel{
	width:830px;
	height:295px;
	border:1px solid #edcc89;
	margin-bottom:20px;
	float:right;
	background:#fffdee;
}

.account{
	width:830px;
	height:50px;
 	border-bottom:1px solid #edcc89;
	padding-bottom:10px;
}

.account h2{
	padding:0;
	margin:0;
}

.mpass{
	margin-top:50px;
	width:830px;
	line-height:30px;
}